.todo {
    margin: 2% auto 0 auto;
    padding: 2.8% 4%;
    width: 90%;
    max-width: 1374px;
    min-height: 73vh;
    background:  #FFFFFF;
    box-shadow: 0px 4px 40px #8CA4D8;
    border-radius: 30px;
}